<div class="main-background">
	<div class="container main-section">
		<div class="row">
			<div class="curtains col-xs-12">
				<app-logo></app-logo>
				<div class="mission">Poukazujeme na prácu politikov zverejňovaním štatistík z verejne dostupných zdrojov</div>
			</div>
		</div>
	</div>
</div>

<app-section-gray>
	<div class="row">
		<app-heading text="Prečo?"></app-heading>

		<app-text>Doteraz sme sa pri voľbách rozhodovali podľa plánov a sľubov, nanajvýš sme si mohli pamätať zopár najdôležitejších vecí, ktoré daný poslanec alebo strana spravili. Vnímali sme hlavne lídrov. Poslancov máme ale 150.</app-text>
		<app-text>Chýbal nám preto ucelený pohľad toho, čo naozaj poslanci NRSR 4 roky robia. Tému sme si začali v malej skupine kamarátov pozerať a nenašli sme nič, čo by nás uspokojilo.</app-text>
		<app-text>Aktuálne dáta o aktivitách poslancov, schvaľovaných zákonoch a celkovom fungovaní parlamentu zobrazené na stránke NRSR sa nám zdali neprehľadné a ďalej nespracované.</app-text>
		<app-text>My sme nevedeli, čo nami volené strany robia. Vy to viete?</app-text>
	</div>
	<div class="row">
		<app-heading text="Čo chceme?"></app-heading>

		<app-text>Cheme prispieť aj vďaka nášmu portálu k tomu, aby sa ľudia viac začali zaujímať o politiku, aby si vedeli pozrieť pred voľbami reálne informácie založené na dátach, čo robila ich preferovaná strana za posledné 4 roky, ak bolo v parlamente.</app-text>
		<app-text>Našim cieľom je zobrazovať čo najprehľadnejšie spracované dáta v podobe grafov a infografík. Dáta musia byť dobre interpretované a nemajú tvoriť jediný zdroj rozhodovania voliča, ale majú doplniť zdroje informácii, na základe ktorých sa volič vie lepšie rozhodnúť.</app-text>
	</div>
	<div class="row">
		<app-heading text="Ako?"></app-heading>

		<app-text>Spracovávame verejne dostupné dáta publikované na stránke <a href="http://www.nrsr.sk" target="_blank">www.nrsr.sk</a>. Tieto dáta očisťujeme od balastu a dávame ich do databázy, s ktorou ďalej vieme pracovať. Novinári už nemusia prácne hodiny počítať koľko poslancov hlasovalo za koaličné zákony. Nám stačí v pár minútach napísať script a dostať výsledok.</app-text>
		<app-text>Pri našej práci chceme využívať moderné nástroje a postupy z oblasti dátovej analýzy (Big Data).</app-text>
	</div>
	<div class="row">
		<app-heading text="Kto sme?"></app-heading>

		<app-text>Sme študenti a pracujúci mladí ľudia, ktorých neplatí, nepodporuje alebo nie je iným spôsobom prepojená žiadna politická strana.</app-text>
		<app-text>Ako každý občas máme síce svoje volebné preferencie a nechceme ich ani popierať.</app-text>
		<app-text>Na našu stránku nepridávame obsah, ktorý by odzrkadľoval naše preferencie a mohol ovplyvňovať iných voličov. Pridávame dáta, ktoré sa nám zdajú byť zaujímavé.</app-text>
	</div>
	<div class="row">
		<app-heading text="Upozornite nás na chybu"></app-heading>

		<app-text>Dáta na stránke NRSR nie sú bezchybné a preto sa môže stať, že nám algoritmy spracujú tieto chyby. Snažíme sa to odstraňovať a opravovať, no môže sa stať, že nám chyba unikne. Ak takúto chybu nájdete, neváhajte nás kontaktovať na <a href="mailto:kontakt@corobiapolitici.sk" target="_blank">kontakt@corobiapolitici.sk</a></app-text>
	</div>
	<div class="row">
		<app-heading text="Otvorený parlament.sk"></app-heading>

		<app-text>Spriatelený projekt, ktorý vznikol v rovnakom období s rovnakým posolstvom, no trochu iným zameraním na dáta si pozrite určite tiež – <a href="http://www.otvorenyparlament.sk" target="_blank">www.otvorenyparlament.sk</a></app-text>
	</div>
	<div class="row">
		<app-heading text="V médiách:"></app-heading>

		<app-heading text="Dennik N" type="h2"></app-heading>

		<app-text><a href="https://dennikn.sk/1224855/ako-vyzera-nas-parlament-niektori-vladni-poslanci-za-dva-roky-hovorili-desat-minut-debaty-taha-opozicia-grafy/" target="_blank">Ako vyzerá náš parlament: Niektorí vládni poslanci za dva roky hovorili desať minút, debaty ťahá opozícia (+grafy)</a>
		</app-text>
		<app-text><a href="https://dennikn.sk/1234044/styrikrat-z-piatich-za-pozrite-sa-na-datach-ako-casto-marcek-a-spol-hlasuju-za-koalicne-navrhy-grafy/" target="_blank">Štyrikrát z piatich „za“: Pozrite si na dátach, ako často Marček a spol. hlasujú za koaličné návrhy (grafy)</a></app-text>

		<app-heading text="HN Focus" type="h2"></app-heading>

		<app-text><a href="https://focus.hnonline.sk/politika-s-spolocnost/tema/388-niektori-poslanci-recnili-uz-tisicky-minut-ini-zas-iba-par-aki-su-aktivni-poslanci-v-parlamente" target="_blank">Poslanecký plat vo vrecku, ale za volebné obdobie rečnili len pár minút. Akí aktívni sú poslanci?</a></app-text>
	</div>
</app-section-gray>
