<app-section-turquoise class="contact-section">
	<div class="row">
		<app-heading text="Kontaktujte nás" style="width: 100%; text-align: center; margin-top: 30px;"></app-heading>
		<app-text style="width: 100%; margin: 0 auto; padding-right: 15px; padding-left: 15px; text-align: center !important;">Neváhajte nás kontaktovať so spätnou väzbou alebo v prípade záujmu o vyhotovenie štatistík.</app-text>
		<app-text style="font-size: 25px; margin: 0 auto; margin-bottom: 30px; text-align: center !important;">
			<a style="color: white" target="_blank" href="mailto:kontakt@corobiapolitici.sk">kontakt@corobiapolitici.sk</a>
		</app-text>
	</div>
</app-section-turquoise>

<app-section-gray>
	<div class="row">
		<div class="col-xs-6 col-md-6 col-lg-6">
			<app-text class="footer-text">corobiapolitici.sk &nbsp;&nbsp; 2018</app-text>
		</div>
		<div class="col-xs-6 col-md-6 col-lg-6" style="text-align: right !important">
			<app-text class="footer-text">verzia 0.2.0</app-text>
		</div>
	</div>
</app-section-gray>
