$color-turquoise-dark: #008080;
$color-turquoise-regular: #00a9a6;
$color-turquoise-light: #97f2dc;

$color-black: #000000;
$color-gray: #4d4d4d;
$color-gray-light: #b3b3b3;

$font-bold: 'QuarcaBold';
$font-regular: 'QuarcaRegular';
$font-medium: 'QuarcaMedium';
$font-light: 'QuarcaLight';

$section-gap: 30px;
