<div class="container">
	<div class="row">
		<div class="col-md-12">
			<app-heading
				text="Celková dĺžka rozpráv poslaneckých klubov (v minútach)"
				type="h2"
				class="col-xs-12"
			></app-heading>
			<div class="col-xs-12" style="width: 300px; margin: 0 auto">
				<app-select id="sel-vis-3" [options]="selectOptions" class="col-xs-12"></app-select>
			</div>
			<div class="col-xs-12" style="margin-top: 5px">
				<a
					href="assets/data/vis_3_klub_poslanec_cas.json"
					target="_blank"
					style="font-family: QuarcaRegular; color: #00a9a6"
				>Stiahnúť podklady</a>
			</div>
			<div>
				<div id="vis-3-a"></div>
				<div id="vis-3-b"></div>
			</div>
		</div>
	</div>
</div>
