<div class="main-background">
	<div class="container main-section">
		<div class="row">
			<div class="curtains col-xs-12">
				<app-logo></app-logo>
				<div class="mission">Poukazujeme na prácu politikov zverejňovaním štatistík z verejne dostupných zdrojov</div>
			</div>
		</div>
	</div>
</div>
<app-section-turquoise>
	<div class="project-vision row">
		<app-heading text="Vízia projektu"></app-heading>
		<div class="col-lg-12">
			<app-text>
				Vytvárame politický portál umožňujúci lepšie pochopenie práce politikov u širokej verejnosti zobrazovaním zrozumiteľných analýz a faktov kombinovaním viacerých zdrojov.
			</app-text>
		</div>
		<app-card-with-icon
			class="col-md-4"
			title="Voliči"
			text="Portál umožní občanom urobiť si čo najobjektívnejší obraz o práci politikov a politických strán."
		></app-card-with-icon>
		<app-card-with-icon
			class="col-md-4"
			title="Novinári"
			text="Portál bude pre novinárov spoľahlivým zdrojom informácií a zjednoduší im spracovanie a analýzu údajov."
		></app-card-with-icon>
		<app-card-with-icon
			class="col-md-4"
			title="Politici"
			text="Portál propaguje aktívnych politikov zobrazovaním merateľných výsledkov ich práce."
		></app-card-with-icon>
	</div>
</app-section-turquoise>

<app-section-gray>
	<div class="example-statistics row">
		<app-heading text="Ukážky štatistík"></app-heading>

		<app-vote-club-law-statistic></app-vote-club-law-statistic>
		<app-top-time-speak-club-law-statistic></app-top-time-speak-club-law-statistic>
		<app-time-speak-club-statistic></app-time-speak-club-statistic>

		<app-text>
			Dáta boli získané strojovým spracovaním verejne dostupných stránok <a target="_blank" href="https://www.nrsr.sk/web/">www.nrsr.sk</a>. Pre novinárov vieme na vyžiadanie poskytnúť aj ďalšie štatistiky.
		</app-text>
	</div>
</app-section-gray>
