@import 'variables';

.main-background {
	background: url('../../../assets/img/home_hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.mission {
	text-align: center;
	font-family: $font-regular;
	color: $color-gray;
	font-size: 18pt;
}

@media(max-width: 480px) {
	.main-background {
		background-position: bottom;
	}

	.mission {
		margin-bottom: 50px;
	}
}

@media(min-width: 480px) {
	.main-background {
		background-position: center center;
		min-height: 50vh;
	}

	.curtains {
		min-height: 50vh;
	}

	.mission {
		margin-bottom: 150px;
	}
}

.curtains {
	background: white;
	opacity: 0.8;
	margin-left: 30px;
	margin-right: 30px;
	padding-left: 14px;
	padding-right: 14px;
	width: 100%;
}

.carts-wrapper {
	margin-bottom: 35px;
	width: 100%;
	display: inline-block;
}

.project-vision {
	padding-bottom: 30px;
}

.project-vision > app-heading {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.project-vision > div > app-text {
	text-align:center;
	font-size: 1.5em;
}

.example-statistics > app-heading {
	width: 100%;
	text-align: center;
}

.example-statistics > app-vote-club-law-statistic,
.example-statistics > app-top-time-speak-club-law-statistic,
.example-statistics > app-time-speak-club-statistic {
	margin-top: 50px;
}

.example-statistics > app-text {
	text-align:center;
	font-size: 1.1em;
	margin-top: 20px;
	margin-bottom: 40px;
}

.example-statistics > app-text a {
	color: $color-turquoise-regular;
}
