<div *ngIf="club$ | async as club; else loading">
  <h1>{{club.id}}</h1>
  <h2>Info:</h2>
  <div>
    <ul>
      <li>
        Pocet poslancov: {{club.pocetPoslancov}}
      </li>
      <li>
        Spektrum: {{club.spektrum[0].id}}
      </li>
    </ul>
  </div>
  <hr>
  <h2>Poslanci:</h2>
  <ul>
    <app-politician-list-item
      *ngFor="let politician of club.poslanci"
      [politician]="politician"
    >
    </app-politician-list-item>
  </ul>

  <h2>Byvali poslanci:</h2>
  <ul>
    <app-politician-list-item
      *ngFor="let politician of club.byvaliPoslanci"
      [politician]="politician"
    >
    </app-politician-list-item>
  </ul>
</div>
<ng-template #loading>
  <app-loading-indicator></app-loading-indicator>
</ng-template>
