@import 'variables';

:host {
	width: 100%;
}

.select-container {
	width: 300px;
	margin: 0 auto;
}

.link-container {
	margin-top: 5px;
}

.link-container a {
	font-family: $font-regular;
	color: $color-turquoise-regular;
}

@media(max-width: 480px) {
	.chart-a,
	.chart-b {
		width: 95%;
		height: 300px;
	}
}

@media(min-width: 480px) {
	.chart-a,
	.chart-b {
		width: 48%;
		height: 550px;
	}
	.chart-a {
		float: left;
	}
	.chart-b {
		float: right;
	}
}
