<div
	class="container"
	(window:resize)="onResize()"
>
	<div class="row">
		<div class="col-md-12">
			<app-heading
				text="Celková dĺžka rozpráv poslaneckých klubov (v minútach)"
				type="h2"
				class="col-xs-12"
			></app-heading>
			<div class="select-container col-xs-12">
				<app-select
					#clubSelect
					class="col-xs-12"
					[options]="selectClubOptions"
					(changeValue)="selectClub($event)"
				></app-select>
			</div>
			<div class="link-container col-xs-12">
				<a
					href="{{statisticsService.baseUrl}}{{resourceFileName}}"
					target="_blank"
				>Stiahnúť podklady</a>
			</div>
			<div>
				<div
					echarts
					class="chart-a"
					[options]="chartAOptions"
				></div>
				<div
					echarts
					class="chart-b"
					[options]="chartBOptions"
					(chartClick)="chartBClick($event)"
				></div>
			</div>
		</div>
	</div>
</div>
