@import 'variables';

:host {
	margin: 0;
	padding: 0;
}

.search-bar form {
	padding: 1em;
}

.search-bar input {
	font-family: $font-regular;
	font-size: 16pt;
	width: 80%;
	margin: 0 auto;
}

.committee-cards {
	padding: 1em ;
}

.committee-cards .committee-toggle {
	color: white;
}

.committee-cards .committee-toggle p {
	cursor: pointer;
	font-family: $font-regular;
	text-transform: uppercase;
	font-size: 14pt;
	margin-bottom: 0;
}

.committee-cards .committee-toggle:hover {
	text-decoration: underline;
}

.committee-cards app-card {
	cursor: pointer;
	padding: 5px;
	background-color: $color-gray;
	float: left;
	margin: 5px;
	width: 210px;
	height: 220px;
}

.committee-cards app-card:hover {
	background-color: lighten($color-gray, 5%);
}

.laws-search-result .laws-search-items {
	text-align: left;
	list-style: none;
}

.laws-search-result .laws-search-items li {
	font-family: $font-medium;
	font-size: 14pt;
	border: 1px solid silver;
	padding: 0.5em;
	margin: 0.5em;
	border-radius: 4px;
}

.laws-search-result .laws-search-items li a {
	color: $color-turquoise-regular;
}

.laws-search-result .laws-search-items li ul {
	list-style: none;
}

.laws-search-result .laws-search-items li ul li {
	font-family: $font-regular;
	font-size: 12pt;
	border: 0;
	padding: 0;
	margin: 0;
}

.laws-search-result .pagination {
	display: block;
	text-align: center;
}

.laws-search-result .pagination li {
	background-color: $color-turquoise-regular;
	border-radius: 7px;
	cursor: pointer;
	display: inline-block;
	color: white;
	width: 44px;
	padding: 0.2em;
	margin: 0.5em;
}

.laws-search-result .pagination li:hover {
	text-decoration: underline;
	background-color: lighten($color-turquoise-regular, 5%)
}

.laws-search-result .none-found {
	width: 100%;
	font-size: 16pt;
	margin: 2em;
	text-align: center;
}

.laws-search-result .none-found p {
	font-family: $font-regular;
}
