<section>
  <div class="row">
    <app-card-with-icon
      class="col-md-4"
      iconSrc="../../../assets/img/voter.png"
      [title]="'Voliči'"
      [text]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam' "
    ></app-card-with-icon>
    <app-card-with-icon
      class="col-md-4"
      iconSrc="../../../assets/img/writer.png"
      [title]="'Novinári'"
      [text]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam' "
    ></app-card-with-icon>
    <app-card-with-icon
      class="col-md-4"
      iconSrc="../../../assets/img/politician.png"
      [title]="'Politici'"
      [text]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam' "
    ></app-card-with-icon>
  </div>
</section>

<section>
  <h1>Ukážky štatistík</h1>	
</section>

<section>
  <h1>Vízia projektu</h1>

  <p>TODO: vizia</p>
</section>

<section>
	<h1>Kontaktujte nás</h1>
	<div>Napíšte nám ak máte záujem o vyhotovenie štatistiky alebo nám chcete niečo
		povedať. Radi Vám pomôžeme alebo sa necháme inšpirovať.
	</div>
  <h3>kontakt@corobiapolitici.sk</h3>
</section>
