<mat-toolbar color="primary">
	<nav>
		<a routerLink="/home" routerLinkActive="selected">Úvod</a>
		<a routerLink="/law_creation" routerLinkActive="selected">Ako vzniká zákon?</a>
		<a routerLink="/laws" routerLinkActive="selected">Zákony</a>
		<a routerLink="/politicians" routerLinkActive="selected">Politici</a>
		<a routerLink="/statistics" routerLinkActive="selected">Štatistiky</a>
		<!-- <a routerLink="/clubs">Kluby</a> -->
		<a routerLink="/info" routerLinkActive="selected">O nás</a>
	</nav>
<!--
	<div fxShow="true" fxHide.gt-sm="true">
		<a href="#" (click)="sidenav.toggle()">Show Side Menu</a>
	</div>
-->
</mat-toolbar>
<!--
<mat-sidenav-container class="example-container">
	<mat-sidenav #sidenav>
		<div>
			<a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
			<app-nav-links></app-nav-links>
		</div>
	</mat-sidenav>
	<mat-sidenav-content>
		<ng-content></ng-content>
	</mat-sidenav-content>
</mat-sidenav-container>
-->
